<!--<div style="text-align:center">-->
<!--  <h1>-->
<!--    Welcome to {{ title }}!-->
<!--  </h1>-->
<!--  <img width="300" alt="Angular Logo" src="/assets/angular.png">-->
<!--</div>-->
<!--<app-calculator></app-calculator>-->
<!--<app-color-picker></app-color-picker>-->
<!--&lt;!&ndash;<app-hackernew></app-hackernew>&ndash;&gt;-->


<!--<app-count-down (finish)="finishCountdown()"></app-count-down>-->
<!--{{isFinish}}-->

<!--<app-to-do-list></app-to-do-list>-->
<!--<app-register></app-register>-->

<router-outlet></router-outlet>
