<h2 class="text-center">List Product</h2>
<button class="btn-outline-primary" [routerLink]="'create'">Creat new product</button>
<table class="table" border="2px">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Edit</th>
    <th>Delete</th>

  </tr>
  <tr *ngFor="let p of products">
    <td>{{p.name}}</td>
    <td>{{p.description}}</td>
    <td>
      <a [routerLink]="'edit/' + p.id">Edit</a>
    </td>
    <td>
      <a [routerLink]="'delete/' + p.id">Delete</a>
    </td>
  </tr>
</table>
